@import "mixins";
@import "variables";
$border: 9px solid;

.categories {
  max-width: 100%;
}
.category {
  margin-top: 19px;
  max-width: 100%;
  height: 325px;
  padding: 15px 32px 28px 30px;
  background-color: white;
  .heading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    h1 {
      @include BitterBold;
      font-size: 24px;
      line-height: 30px;
      color: #363f48;
    }
    a {
      @include VarelaRound;
      font-size: 14px;
      line-height: 17px;
      align-self: flex-end;
      color: #3677b5;
      text-decoration: none;
      border-bottom: 1px solid rgba(54, 119, 181, 0.3);
    }
  }
  .news {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.news-border {
  border-left: $border $news;
}
.sport-border {
  border-left: $border $sport;
}
.business-border {
  border-left: $border $business;
}

.business {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
