@mixin container {
  max-width: 940px;
  margin: 0 auto;
}

@mixin BitterBold {
  font-family: "Bitter", serif;
  font-weight: 700;
}

@mixin VarelaRound {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}

@mixin icons-size {
  width: 38px;
  height: 38px;
  margin-right: 6px;
}
