@import "mixins";

.primary__nav {
  height: 53px;
  background-color: #252525;
  .container-top {
    @include container;
  }
  .primary {
    height: 53px;
    display: flex;
    align-items: center;
    color: white;
    .logo {
      padding: 15px 26px 17px 23px;
      background-color: #353333;
    }
    h1 {
      font-family: "Bitter", serif;
      font-weight: 400;
      font-size: 24px;
      padding: 10px 0 0 9px;
    }
    .search-icon {
      padding: 18px 23px 19px 23px;
      background-color: #353333;
      margin-left: 20px;
    }
    .nav-links {
      @include VarelaRound;
      display: flex;
      justify-content: flex-end;
      width: 80%;
      list-style: none;
      font-size: 14px;
      line-height: 27px;
      padding-top: 5px;
      a {
        text-decoration: none;
        color: white;
        padding: 0px 20px 0 20px;
      }
    }
  }
}
