$border: 6px solid

.secondary__nav
  height: 53px
  background-color: #4d4382

  .secondary
    height: 53px
    display: flex

  .container-top
    +container

  .nav-links
    height: 53px
    +BitterBold
    display: flex
    text-transform: uppercase
    padding-left: 0
    list-style: none
    font-size: 18px
    line-height: 22px
    justify-content: space-around
    max-width: 610px
    padding-top: 10px

    a
      text-decoration: none
      color: white
      padding: 10px 22px 16px 22px

    .nav-news
      display: inline-block
      background-color: #299ec3
      padding: 15px 21px 14px 20px
      width: 93px
      height: 53px
      margin-top: -10px

    .nav-business
      border-bottom: $border $business

    .nav-sport
      border-bottom: $border $sport

    .nav-life
      border-bottom: $border $life

    .nav-tech
      border-bottom: $border $tech

    .nav-travel
      border-bottom: $border $travel