@import "mixins";

.news-article {
  text-decoration: none;
  width: 170px;
  .news-image {
    height: 128px;
    width: 170px;
  }
  .news-date {
    @include VarelaRound;
    font-size: 12px;
    line-height: 14.5px;
    color: #666666;
  }
  .news-heading {
    @include BitterBold;
    font-size: 14px;
    line-height: 18px;
    color: #363f48;
  }
}

.business .news-article {
  width: 270px;
  display: flex;
  margin-bottom: 30px;
  .news-image {
    width: 120px;
    height: 90px;
    margin-right: 15px;
  }
  .business-text {
    width: 154px;
    height: 85px;
  }
}
