$news: #3677b5;
$business: #ee6151;
$sport: #84c14f;
$life: #5dcff3;
$tech: #fcc44d;
$travel: #a99765;

@import "primary-nav";
@import "secondary-nav";
@import "slider";
@import "category-section";
@import "single-article";
@import "sidebar";
@import "home";
